name: Test FIWARE Action

on:
  push:
    branches: [ "17-add-fiware-setup-workflow" ]

jobs:
  integration-test:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout the repository so the action and docker-compose files are available
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Run the reusable FIWARE action
      # 'uses: ./.github/actions/setup-fiware' points to the local folder containing action.yml
      - name: Setup FIWARE Stack
        uses: RWTH-EBC/ci_templates/.github/actions/fiware@17-add-fiware-setup-workflow
        with:
          # Directory containing your docker-compose.yml
          fiware-directory: ./utils/fiware

#          # Variables to inject into the .env file
#          env-variables: |
#            LOG_LEVEL=INFO
#            FIWARE_SERVICE=test_service
#            FIWARE_SERVICEPATH=/test_path
#            CB_URL=http://orion:1026
#            ORION_LD_URL=http://orion-ld:1026
#            IOTA_JSON_URL=http://iota-json:4041
#            MQTT_BROKER_URL=mqtt://mosquitto:1883

          # List of URLs to check before proceeding
          healthcheck-urls: >-
            http://localhost:1026/version
            http://localhost:4041/version

          # Timeout in seconds
          timeout-seconds: 60

      # 3. run your actual tests now that services are up
      - name: Run Integration Tests
        run: |
          echo "FIWARE stack is ready. Running tests..."
          curl localhost:1026/version