name: Example FIWARE test workflow

on:
  push:
    paths:
      - '.github/actions/fiware/**'
      - '.github/workflows/fiware_test_example.yml'
      - 'utils/fiware/**'

jobs:
  fiware_tests:
    uses: RWTH-EBC/ci_templates/.github/workflows/fiware_tests.yml@main
    with:
      PYTHON_TEST_MATRIX: '["3.10", "3.11", "3.12", "3.13"]'
      FIWARE_DIRECTORY: "./utils/fiware"
      TEST_PATH: "./utils/fiware"
      INSTALL_FILIP: true
      TEST_ENV_VARS: '["CB_URL=http://localhost:1026", "ORION_LD_URL=http://localhost:1027", "IOTA_URL=http://localhost:4041", "IOTA_UL_URL=http://localhost:4061", "QL_URL=http://localhost:8668", "MQTT_BROKER_URL=mqtt://localhost:1883", "MQTT_BROKER_URL_INTERNAL=mqtt://mqtt-broker:1883", "LD_MQTT_BROKER_URL=mqtt://localhost:1883", "LD_MQTT_BROKER_URL_INTERNAL=mqtt://mqtt-broker:1883", "FIWARE_SERVICE=test_17", "STATIC_RECORDS=199"]'
