name: Test FIWARE Action

on:
  push:
    branches: [ "17-add-fiware-setup-workflow" ]

jobs:
  fiware_tests:
    uses: RWTH-EBC/ci_templates/.github/workflows/fiware_tests.yml@17-add-fiware-setup-workflow
    with:
      PYTHON_TEST_MATRIX: '["3.10", "3.11", "3.12", "3.13"]'
      FIWARE_DIRECTORY: "./utils/fiware"