name: Multi-Python Tests

on:
  workflow_call:
    inputs:
      PYTHON_TEST_MATRIX:
        required: false
        type: string
        default: '["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]'
      TEST_PATH:
        required: false
        type: string
        default: "tests"
      TEST_ENGINE:
        required: false
        type: string
        default: "PYTEST"
      INSTALL_REQUIREMENTS:
        required: false
        type: boolean
        default: true
      USE_UV:
        required: false
        type: boolean
        default: false
      EXTRA_REQUIREMENTS:
        required: false
        type: string
        default: ""
      FAIL-FAST:
        required: false
        type: boolean
        default: false

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: ${{ inputs.FAIL-FAST }}
      matrix:
        python-version: ${{ fromJson(inputs.PYTHON_TEST_MATRIX) }}

    steps:
      - name: Skip test based on commit message
        id: skip
        env:
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        run: |
          PYTHON_VERSION="${{ matrix.python-version }}"
          PYTHON_VERSION_NO_DOT="${PYTHON_VERSION//./}"
          SKIP_KEYWORDS=("skip-all-tests" "skip-python$PYTHON_VERSION_NO_DOT")
          echo "Commit message: $COMMIT_MESSAGE"
          
          for keyword in "${SKIP_KEYWORDS[@]}"; do
            if [[ "$COMMIT_MESSAGE" =~ $keyword ]]; then
              echo "Skip detected: $keyword"
              echo "skip=true" >> $GITHUB_OUTPUT
              exit 0
            fi
          done
          
          echo "skip=false" >> $GITHUB_OUTPUT

      - name: Cancel skipped job
        if: steps.skip.outputs.skip == 'true'
        run: echo "Test skipped for Python ${{ matrix.python-version }}"

      - name: Checkout code
        if: steps.skip.outputs.skip == 'false'
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        if: steps.skip.outputs.skip == 'false'
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install project
        if: steps.skip.outputs.skip == 'false'
        uses: RWTH-EBC/ci_templates/.github/actions/install@main
        with:
          use-uv: ${{ inputs.USE_UV }}
          install-requirements: ${{ inputs.INSTALL_REQUIREMENTS }}
          extra-requirements: ${{ inputs.EXTRA_REQUIREMENTS }}

      - name: Install test dependencies
        if: steps.skip.outputs.skip == 'false'
        run: pip install pytest

      - name: Run tests
        if: steps.skip.outputs.skip == 'false'
        run: |
          if [[ "${{ inputs.TEST_ENGINE }}" == "PYTEST" ]]; then
            python -m pytest ${{ inputs.TEST_PATH }}
          else
            python -m unittest discover --verbose . "test_*.py"
          fi
